# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
venv/
.venv/
env/

# Environment files
.env

# Streamlit secrets
.streamlit/secrets.toml

# Chroma database
chroma_db/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Cache
obis_cache/

# Local database
chroma_db/

# Videos
*.mp4

# Images
*.png
*.jpg
*.jpeg

# Documents
*.pptx
*.pdf